@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-light: #251e42;
    --background-dark: #1e163e;

    --text-900: #6c788b;
    --text-800: #8e99aa;
    --text-600: #ced9eb;
    --text-300: #e9ecf2;

    --color-html: #ff6600;
    --color-css: #0051ff;
    --color-js: #ffee00;
    --color-figma: #c300ff;
    --color-dart: #11138b;
    --color-php: #a443ff;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}

body, html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    width: 100%;

    background-color: var(--background-light);

    overflow-x: hidden;
}



/* HEADER */


header{
    position: sticky;
    top: 0;

    height: 15vh;
    width: 100%;
    padding: 0 5vw;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-dark);
}

nav{
    width: auto;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

nav > ul > li, nav > ul > li > a{
    list-style-type: none;
    text-decoration: none;
    font-weight: 600;
    
    color: var(--text-800);

    transition: .2s;
    
    &:hover{
        color: var(--text-300);
    }
}



/* MAIN */


main{
    width: 100%;
    height: auto;
    padding: 0 20vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    width: 100%;
    min-height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* INTRO */


#intro{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pfp{
    width: 150px;
}

#name{
    margin-top: 1rem;

    font-size: 2.25rem;
    font-weight: 700;

    color: var(--text-300);
}

#frontEnd{
    font-size: 1.5rem;
    font-weight: 600;

    color: var(--text-600);
}

#socials{
    margin-top: .5rem;

    display: flex;
    gap: 1.5rem;

    & a, i{
        font-size: 2rem;

        color: var(--text-800);

        transition: .2s;

        &:hover{
            color: var(--text-600);
        }
    }
}



/* ABOUT ME */


#aboutMe{
    height: 90vh;
}

#aboutMeH2{
    font-size: 2rem;

    color: var(--text-300);
}

#info{
    margin-top: .5rem;

    display: flex;
    align-items: center;
    gap: 1.5rem;

    font-size: 1.25rem;
    font-weight: 600;

    color: var(--text-600);

    & span{
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    & i{
        color: var(--text-900);
    }
}

#aboutMeP{
    margin-top: 1.25rem;

    padding: 0 4rem;

    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
    line-height: 1.5rem;

    color: var(--text-600);
}

#tecnologies{
    margin-top: 2rem;

    height: auto;
    padding: 1rem 2rem;

    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;

    background-color: var(--background-dark);
    border-radius: 1rem;

    & i{
        width: 3rem;
        height: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 2.5rem;

        color: var(--text-800);
        transition: .2s;


        &.fa-html5:hover{
            color: var(--color-html);
        }

        &.fa-css3-alt:hover{
            color: var(--color-css);
        }

        &.fa-js:hover{
            color: var(--color-js);
        }

        &.fa-figma:hover{
            color: var(--color-figma);
        }

        &.fa-dart-lang:hover{
            color: var(--color-dart);
        }

        &.fa-php:hover{
            color: var(--color-php);
        }
    }
}